/* line 4, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html { margin: 0; padding: 0; border: 0; }

/* line 18, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 20, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 21, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q { quotes: "" ""; }
/* line 67, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

/* line 22, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption { float: none !important; text-align: left; font-weight: normal; vertical-align: middle; }

/* line 23, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 24, /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img { border: none; }

/* line 3, content/sass/main.sass */
* { margin: 0; padding: 0; font-family: Georgia, Palatino, Times, "Times New Roman", sans-serif; }

/* line 9, content/sass/main.sass */
body { background: white; }

/* line 13, content/sass/main.sass */
a { text-decoration: none; }
/* line 16, content/sass/main.sass */
a:link, a:visited { color: #ff3300; }
/* line 19, content/sass/main.sass */
a:hover { color: #ff9900; }

/* line 23, content/sass/main.sass */
#main { position: absolute; top: 40px; left: 280px; width: 500px; }
/* line 29, content/sass/main.sass */
#main h1 { font-size: 40px; font-weight: normal; line-height: 40px; letter-spacing: -1px; }
/* line 35, content/sass/main.sass */
#main p { margin: 20px 0; font-size: 15px; line-height: 20px; }
/* line 40, content/sass/main.sass */
#main ul { margin: 20px; }
/* line 43, content/sass/main.sass */
#main li { list-style-type: square; font-size: 15px; line-height: 20px; }

/* line 49, content/sass/main.sass */
#sidebar { position: absolute; top: 40px; left: 20px; width: 200px; padding: 20px 20px 0 0; border-right: 1px solid #cccccc; text-align: right; }
/* line 58, content/sass/main.sass */
#sidebar h2 { text-transform: uppercase; font-size: 13px; color: #333333; letter-spacing: 1px; line-height: 20px; }
/* line 65, content/sass/main.sass */
#sidebar ul { list-style-type: none; margin: 20px 0; }
/* line 69, content/sass/main.sass */
#sidebar li { font-size: 14px; line-height: 20px; }
