#!/usr/bin/env ruby

#require 'compass'

#Compass.add_project_configuration 'config.rb'

### Compilation rules

#compile '/sass/*/' do
#  filter :sass, Compass.sass_engine_options
#end

compile '*' do
  filter :haml
  layout 'default'
end

### Routing rules
#route '/sass/_*/' do
#   nil
#end

#route '/sass/*/' do
#    item.identifier.gsub(/sass/,'css').chop + '.css'
#end

route '*' do
  item.identifier + 'index.html'
end

### Layout rules

layout '*', :haml, :format => :html5
